{% load static %}

<div class="tech_slider">
    <div class="slide">
        <img src="{% static 'app/img/Azyauchikau.jpg' %}" class="slide_photo">
        <p class="slide_name"><b>Азявчиков Илья</b></p>
        <p class="slide_text">Python/Django<br>Middle Developer<br>4+ years of experience</p>
    </div>
    <div class="slide">
        <img src="{% static 'app/img/nov.jpg' %}" class="slide_photo">
        <p class="slide_name"><b>Новик Кирилл</b></p>
        <p class="slide_text">Автоматизация тестирования<br>Middle Developer<br>4+ years of experience</p>
    </div>
    <div class="slide">
        <img src="{% static 'app/img/Marozau.png' %}" class="slide_photo">
        <p class="slide_name"><b>Морозов Артемий</b></p>
        <p class="slide_text">PHP/VueJS<br>Middle Developer<br>4+ years of experience</p>
    </div>
    <div class="slide">
        <img src="{% static 'app/img/logo-removebg-preview.png' %}" class="slide_photo">
        <p class="slide_name"><b>Стешко Федор</b></p>
        <p class="slide_text">UI/UX<br>Middle Designer<br>5+ years of experience</p>
    </div>

</div>