.bg-d {
    background-color: #2a567d !important;
    color: white !important;
}

.color-white {
    color: white !important;
}


.cap.bg-d {
    border-bottom: 1px white solid;
}

.bg-black span, .bg-black:before, .bg-black:after {
    background-color: white !important;
}

/*.bg-white span, .bg-white:before, bg-white:after{*/
/*    background-color: black!important;*/
/*}*/


body {
    background-color: #ebf0f4 !important;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: dodgerblue !important;
}

.page_content {
    margin: 0 auto;
    width: 100%;
}

.content {
    padding: 0 25px;
}

.cap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    text-transform: uppercase;
    height: 70px;
}

.cap_logo {
    display: flex;
    align-items: center;
}

.header_mask {
    width: 100%;
    height: 100%;
}

.logo_title {
    font-family: CAMBRIA;
    font-weight: 600;
    font-size: 28px;
    margin-top: 4px;
}

.logo_img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.cap_link_list {
    display: flex;
    align-items: center;
}

#link {
    font-family: CAMBRIA;
    font-weight: 600;
}

.invite_title {
    font-family: Cambria;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.invite_text {
    font-family: "Lucida Sans Unicode";
    color: black;
    text-transform: uppercase;
    font-weight: 400;
}

.mt-20 {
    margin-top: 20px;
}

.invite_subtext {
    font-family: Corbel;
    font-weight: 700;
    color: #2a567d;
    text-transform: uppercase;
}

.invite_button {
    font-family: Corbel;
    text-transform: uppercase;
    color: #2a567d;
    font-weight: 600;
}

.invite_button:hover {
    transform: scale(1.05);
    transition-duration: 2s !important;
}

.header {
    background: url("../img/bg-1-8.jpg") no-repeat fixed;
    background-size: cover;
    color: black;
}

.countdown {
    background: url("../img/bg-1-8.jpg") no-repeat fixed;
    background-size: cover;
}


.content_text {
    display: block;
    text-align: center;
}

.text {
    font-family: Corbel;
    color: #2a567d;
    text-transform: uppercase;
    font-weight: 600;
}

.taimer {
    display: flex;
    justify-content: center;
}


.counter_free {
    display: flex;
    justify-content: center;
}

.countdown_mask {
    padding-bottom: 50px;
}

.badges {
    font-family: "Lucida Sans Unicode";
    border: #2a567d solid 2px;
    background-color: #a6b9c5;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

.spec_title, .teach_title {
    text-align: center;
    font-family: CAMBRIA;
    font-weight: 500;
    text-transform: uppercase;
}

.spec_text {
    font-family: "Lucida Sans Unicode";
    text-transform: uppercase;
}

.spec_mask {
    background: #ebf0f4;
}

.direction {
    border-radius: 12px;
    border: #2a567d 3px solid;
    background-color: #a6b9c5;
    color: white;
    width: 30%;
    margin: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.direction:hover {
    transform: scale(1.05);
    background-color: #95adbd;
    transition-duration: 2s;
}


.direction_title {
    text-align: center;
}

.teachers_mask {
    padding-bottom: 20px;
}

.about {
    background: url("../img/bg-1-8.jpg") no-repeat fixed;
    background-size: cover;
}

.about_mask {
    padding-bottom: 20px;
}

.about_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about_subtext {
    font-family: "Lucida Sans Unicode";
}

.adv_text {
    font-family: "Lucida Sans Unicode";
}

.cost {
    background: url("../img/bg-1-8.jpg") no-repeat fixed;
    background-size: cover;
}

.cost_mask {
    padding-bottom: 50px;
}

.cost_elem {
    outline: #95adbd 1px solid;
    border: white 10px solid;
    background-color: #2a567d;
    color: white;
    width: 30%;
    margin: 0;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.cost_elem h5, .direction_title {
    font-family: Cambria;
    text-align: center;
}

.elem_list {
    font-family: Cambria;
}

.price {
    font-family: CAMBRIA;
    margin-top: 30px;
    font-weight: 600;
    text-align: center;
}

.contacts_mask {
    padding-bottom: 50px;
}

.form_back {
    background: radial-gradient(60% 50%, #a6b9c5, #ebf0f4);
    color: white;
    padding: 20px 200px;
    align-items: center;
}

.form_back:hover {
    transform: scale(1.04);
    transition-duration: 2s;
}

.btn {
    display: flex;
    margin: 0 auto;
    background-color: #2a567d;
    color: white;
    justify-content: center !important;
}


.btn:hover {
    transform: scale(1.05);
    color: white;
    transition-duration: 2s !important;
}

.contact_list {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    font-family: CAMBRIA;
}

.contact_text:hover {
    transform: scale(1.05);
    transition-duration: 2s !important;
}

.a_cont:hover {
    color: black !important;
}

.footer_title {
    font-family: Corbel;
}

.footer_content {
    color: white;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.cont_social {
    color: white;
}

.footer_cont {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #2a567d;
    margin: 0;
}

.footer_left {
    font-family: Corbel;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_rules {
    font-family: Corbel;
    margin-top: 10px;
    color: white;
    text-align: center;
}


@media (max-width: 575px) {

    .invite_title {
        font-size: 37px !important;
    }

    .invite_text {
        font-size: 20px !important;
    }

    .invite_subtext {
        font-size: 22px !important;
    }

    .invite_button {
        font-size: 28px !important;
    }

    .text {
        font-size: 25px !important;
    }

    .badges {
        margin-left: 0px !important;
        font-size: 17px !important;
        padding: 5px 5px !important;
    }

    .spec_title, .teach_title {
        font-size: 40px !important;
        margin-bottom: 15px !important;
    }

    .spec_text {
        font-size: 15px !important;
    }

    .direction {
        padding: 10px 5px !important;
    }


    .about_subtext {
        margin: 0 10px 0 0 !important;
        font-size: 15px;
    }

    .logo_chs {
        height: 100px;
        width: 100px;
    }

    .adv {
        padding-top: 20px;
    }

    .adv_text {
        font-size: 17px !important;
    }

    .cost_elem {
        padding: 15px 5px 5px 5px !important;
    }

    .form_back {
        padding: 10px 50px !important;
    }

    .contact_list {
        font-size: 21px !important;
    }

    .footer_title {
        font-size: 15px !important;
    }

    .cont_social {
        font-size: 22px !important;
        margin: 15px 10px 5px 2px !important;
    }

    .footer_left {
        font-size: 10px !important;
    }

    .footer_rules {
        font-size: 10px !important;
    }
}

@media (max-width: 767px) {
    .fixed {
        overflow: hidden;
    }

    .logo_title {
        color: black;
    }

    .cap {
        justify-content: space-between;
        height: 50px;
    }

    .menu-burger {
        background-color: #ebf0f4;
        margin-right: 10px;
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
    }

    .menu-burger span, .menu-burger:after, .menu-burger:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: #000;
        margin: 0 auto;
    }

    .menu-burger span {
        top: 16px;
    }

    .menu-burger:after, .menu-burger:before {
        content: '';
    }

    .menu-burger:after {
        bottom: 5px;
    }

    .menu-burger:before {
        top: 5px;
    }

    .menu-burger.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }

    .menu-burger.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }

    .menu-burger.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }

    .cap_link_list {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 49px;
        overflow: auto;
        background-color: #2a567d;
        width: 100%;
        box-shadow: 0 10px 5px 0px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
    }

    .cap_link_list.open-menu {
        left: 0;
    }

    #link {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 7px;
        color: white !important;
    }

    .header_mask {
        padding-top: 110px;
        padding-bottom: 70px;
    }

    .countdown_mask, .spec_mask, .teachers_mask, .about_mask, .cost_mask, .contacts_mask {
        padding-top: 50px;
    }

    .logo_title {
        font-size: 20px;
        margin-top: 4px;
    }

    .logo_img {
        margin-right: 5px;
    }


    .invite_title {
        font-size: 47px;
    }

    .invite_text {
        font-size: 22px;
    }

    .invite_subtext {
        font-size: 24px;
    }

    .invite_button {
        padding: 8px 40px;
        margin-top: 30px;
        border-radius: 12px;
        font-size: 30px;
    }

    .content_text {
        margin-bottom: 15px;
    }

    .text {
        font-size: 30px;
    }

    .badges {
        margin-bottom: 10px;
        margin-left: 3px;
        font-size: 20px;
        padding: 15px 10px;
    }

    .spec_title, .teach_title {
        font-size: 45px;
        margin-bottom: 20px;
    }

    .spec_text {
        font-size: 17px;
    }

    .spec_blocks {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .direction {
        margin: 0 auto;
        margin-top: 10px;
        padding: 15px 10px;
        width: 50%;
    }

    .direction_text {
        margin-left: 20px;
        font-size: 15px;
    }

    .about_subtext {
        margin: 0 20px 0 0 !important;
        font-size: 17px;
    }

    .logo_chs {
        height: 100px;
        width: 100px;
    }

    .adv {
        padding-top: 20px;
    }

    .adv_text {
        font-size: 18px;
    }

    .cost_box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 26px;
    }

    .cost_elem {
        margin: 0 auto;
        margin-top: 10px;
        width: 50%;
        padding: 20px 10px 10px 10px;
    }

    .cost_elem h5, .direction_title {
        font-size: 26px;
    }

    .elem_list {
        margin-top: 9px;
        margin-left: 20px;
        font-size: 15px;
    }

    .price {
        font-size: 28px;
    }

    .form_back {
        padding: 20px 100px;
    }

    .contact_list {
        font-size: 25px;
    }

    .footer_title {
        font-size: 16px;
    }

    .cont_social {
        font-size: 22px;
        margin: 20px 15px 10px 5px;
    }

    .footer_left {
        font-size: 13px;
    }

    .footer_rules {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .color-black {
        color: black !important;
    }

    .header_mask {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .cap {
        height: 62px;
    }

    .countdown_mask, .spec_mask, .teachers_mask, .about_mask, .cost_mask, .contacts_mask {
        padding-top: 62px;
    }

    .logo_title {
        font-size: 22px;
        margin-top: 4px;
    }

    .logo_img {
        margin-right: 10px;
    }

    #link {
        margin-right: 11px;
        font-size: 15px;
    }

    .invite_title {
        font-size: 55px;
    }

    .invite_text {
        font-size: 26px;
    }

    .invite_subtext {
        font-size: 26px;
    }

    .invite_button {
        padding: 8px 45px;
        margin-top: 20px;
        border-radius: 12px;
        font-size: 33px;
    }

    .content_text {
        margin-bottom: 15px;
    }

    .text {
        font-size: 26px;
    }

    .badges {
        margin-bottom: 10px;
        margin-left: 3px;
        font-size: 22px;
        padding: 21px 21px;
    }

    .spec_title, .teach_title {
        font-size: 45px;
        margin-bottom: 25px;
    }

    .spec_text {
        font-size: 19px;
    }

    .spec_blocks {
        margin-top: 35px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .direction {
        padding: 25px 15px;
    }

    .direction_text {
        margin-left: 12px;
    }

    .about_subtext {
        margin: 0 20px 0 0 !important;
        font-size: 19px;
    }

    .logo_chs {
        height: 90px;
        width: 90px;
    }

    .adv {
        padding-top: 20px;
    }

    .adv_text {
        font-size: 19px;
    }

    .cost_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 26px;
    }

    .cost_elem {
        padding: 20px 10px 10px 10px;
    }

    .cost_elem h5 {
        font-size: 24px;
    }

    .elem_list {
        margin-top: 8px;
        margin-left: 15px;
        font-size: 14px;
    }

    .price {
        font-size: 24px;
    }

    .contact_list {
        font-size: 30px;
    }

    .footer_title {
        font-size: 18px;
    }

    .cont_social {
        font-size: 25px;
        margin: 20px 30px 13px 9px;
    }

    .footer_left {
        font-size: 13px;
    }

    .footer_rules {
        font-size: 13px;
    }
}

@media (min-width: 992px) {

    .countdown_mask, .spec_mask, .teachers_mask, .about_mask, .cost_mask, .contacts_mask {
        padding-top: 70px;
    }


    .header_mask {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .logo_title {
        font-size: 24px;
        margin-top: 4px;
    }

    .logo_img {
        margin-right: 10px;
    }

    #link {
        margin-right: 25px;
        font-size: 17px;
    }

    .invite_title {
        font-size: 55px;
    }

    .invite_text {
        font-size: 29px;
    }

    .invite_subtext {
        font-size: 26px;
    }

    .invite_button {
        padding: 10px 50px;
        margin-top: 28px;
        border-radius: 12px;
        font-size: 38px;
    }

    .content_text {
        margin-bottom: 15px;
    }

    .text {
        font-size: 26px;
    }

    .badges {
        margin-bottom: 10px;
        margin-left: 5px;
        font-size: 22px;
        padding: 25px 25px;
    }

    .spec_title, .teach_title {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .spec_text {
        font-size: 20px;
    }

    .spec_blocks {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .direction {
        padding: 40px 15px;
    }

    .direction_text {
        margin-left: 18px;
    }


    .about_subtext {
        margin: 0 20px 0 0 !important;
        font-size: 20px;
    }

    .logo_chs {
        height: 100px;
        width: 100px;
    }

    .adv {
        padding-top: 20px;
    }

    .adv_text {
        font-size: 20px;
    }

    .cost_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 26px;
    }

    .cost_elem {
        padding: 25px 12px 10px 12px;
    }

    .cost_elem h5 {
        font-size: 26px;
    }

    .elem_list {
        margin-top: 10px;
        margin-left: 23px;
        font-size: 15px;
    }

    .price {
        font-size: 25px;
    }

    .contact_list {
        font-size: 30px;
    }

    .footer_title {
        font-size: 20px;
    }

    .cont_social {
        font-size: 25px;
        margin: 20px 30px 13px 9px;
    }

    .footer_left {
        font-size: 15px;
    }

    .footer_rules {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .logo_title {
        font-size: 28px;
    }

    .logo_img {
        margin-right: 15px;
    }

    #link {
        margin-right: 33px;
        font-size: 18px;
    }

    .invite_title {
        font-size: 60px;
    }

    .invite_text {
        font-size: 31px;
    }

    .text {
        font-size: 32px;
    }

    .badges {
        padding: 30px 30px;
    }

    .spec_title, .teach_title {
        font-size: 55px;
        margin-bottom: 40px;
    }

    .spec_text {
        font-size: 25px;
    }

    .direction {
        padding: 50px 25px;
    }

    .direction_text {
        margin-left: 24px;
    }


    .about_subtext {
        font-size: 25px;
    }

    .logo_chs {
        height: 125px;
        width: 125px;
    }

    .adv_text {
        font-size: 25px;
    }

    .cost_elem h5, .direction_title {
        font-size: 32px;
    }

    .elem_list, .direction_text {
        font-size: 20px;
    }

    .price {
        font-size: 32px;
    }

    .contact_list {
        font-size: 33px;
    }

    .footer_title {
        font-size: 23px;
    }

    .cont_social {
        font-size: 32px;
    }

    .footer_left {
        font-size: 17px;
    }
}
